.sidebar {
    width: 100px;
    position: absolute;
    color: white;
    left: 0;
    top: 50px;
    bottom: 0;
    z-index: 1000;
}

.app-container {
    display: flex;
    height: 100vh;
}

.map-container {
    height: 100%;
    position: relative;
}

.map-container:-webkit-full-screen {
    height: 100%;
}

.map-container:-ms-fullscreen {
    height: 100%;
}

.map-container:fullscreen {
    height: 100%;
}



.search-bar {
    position: absolute;
    bottom: 10px;
    top: 10px;
    width: 400px;
    padding-bottom: 15%;
    margin-left: 20px;
}

.tool-list {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 400px;
    padding-bottom: 10%;

    .legend {
        position: absolute;
        bottom: 50px;
        width: 360px;
        background: linear-gradient(to right,
                #4815AA,
                /* Cyan */
                #3783FF,
                /* Aquamarine */
                #4DE94C,
                /* Green */
                #ffff00,
                /* Yellow */
                #ffd700,
                /* Gold */
                #ff4500,
                /* OrangeRed */
                #ff0000
                /* Red */
            );
        /* Super Red */
        border-radius: 10px;
        opacity: 100%;
    }
}